<footer class="theme-footer">
	<div class="theme-footer__inner">
		<nav class="theme-footer__megafooter-navi">
{% if _ENV.mode == 'canvas' %}

{% if _ENV.extra.globalMenu %}
<ul>
{% for pageInfo in _ENV.extra.globalMenu %}
	<li><a href="{{ pageInfo.path }}">{{ pageInfo.title_label }}</a>
		<ul>
			<li><a href="javascript:;">{% if _ENV.lang == "ja" %}ページ名{% else %}Page name{% endif %}</a></li>
			<li><a href="javascript:;">{% if _ENV.lang == "ja" %}ページ名{% else %}Page name{% endif %}</a></li>
			<li><a href="javascript:;">{% if _ENV.lang == "ja" %}ページ名{% else %}Page name{% endif %}</a></li>
			<li><a href="javascript:;">{% if _ENV.lang == "ja" %}ページ名{% else %}Page name{% endif %}</a></li>
			<li><a href="javascript:;">{% if _ENV.lang == "ja" %}ページ名{% else %}Page name{% endif %}</a></li>
		</ul>
	</li>
{% endfor %}
</ul>
{% endif %}

{% elseif _ENV.mode == 'finalize' %}
<?= $theme->mk_megafooter_menu() ?>
{% endif %}
		</nav>

		<div class="theme-footer__shouldernavi">
{% if _ENV.mode == 'canvas' %}
{% if _ENV.extra.shoulderMenu %}
<ul>
{% for pageInfo in _ENV.extra.shoulderMenu %}
	<li><a href="{{ pageInfo.path }}">{{ pageInfo.title_label }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% elseif _ENV.mode == 'finalize' %}
<?php
	$shoulder_menu = $px->site()->get_shoulder_menu();
	if( is_array($shoulder_menu) && count($shoulder_menu) ){
		echo( '<ul>'."\n" );
		echo( '<li>'.$px->mk_link( '', array('current'=>false) ).'</li>'."\n" );
		foreach( $shoulder_menu as $page_id ){
			echo( '<li>'.$px->mk_link( $page_id ).'</li>'."\n" );
		}
		echo( '</ul>'."\n" );
	}
?>
{% endif %}
		</div>
{% if content %}
{{ content }}
{% endif %}
	</div>
</footer>
