<div class="pickles2-theme-editor__thumb-template_002b">
	<div class="pickles2-theme-editor__thumb-template_002b__header" style="background-color:{{ mainColor }}; border-top:1px solid {{ subColor }};">
		{% if logoImage %}
		<p><img src="data:{{ logoImageMimeType }};base64,{{ logoImage }}" /></p>
		{% endif %}
		<p class="pickles2-theme-editor__thumb-template_002b__title">SiteTitle</p>
		<div class="pickles2-theme-editor__thumb-template_002b__gmenu">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="pickles2-theme-editor__thumb-template_002b__middle">
		<div class="pickles2-theme-editor__thumb-template_002b__middle-main">
			<p class="pickles2-theme-editor__thumb-template_002b__h1">□□□□■□□□□■</p>
			<div class="pickles2-theme-editor__thumb-template_002b__contents">
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■</p>
				<div class="pickles2-theme-editor__thumb-template_002b__autoindex"></div>
				<p class="pickles2-theme-editor__thumb-template_002b__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
				<p class="pickles2-theme-editor__thumb-template_002b__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
			</div>
		</div>
		<div class="pickles2-theme-editor__thumb-template_002b__middle-sidebar">
			<div class="pickles2-theme-editor__thumb-template_002b__sidebarmenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
<div class="pickles2-theme-editor__startup__badge-broccoli"></div>
