<header class="theme-header">
	<div class="theme-header__inner">
		<div class="theme-header__si">
			{% if sitetitle_htmlElement %}<{{ sitetitle_htmlElement }}>{% endif %}{% if sitetitle_linkto %}<a href="{% if _ENV.mode == 'canvas' %}#{% else %}<?= htmlspecialchars($px->href('{{ sitetitle_linkto }}')) ?>{% endif %}">{% endif %}{% if sitetitle_image %}<img src="{{ sitetitle_image }}" alt="" />{% endif %}{% if _ENV.mode == 'canvas' %}サイト名{% else %}<?= htmlspecialchars( $px->conf()->name ) ?>{% endif %}{% if sitetitle_linkto %}</a>{% endif %}{% if sitetitle_htmlElement %}</{{ sitetitle_htmlElement }}>{% endif %}
		</div>
{% if shouldernavi %}
		<div class="theme-header__shouldernavi">{{ shouldernavi }}</div>
{% endif %}

{% if globalnavi %}
		<div class="theme-header__globalnavi">{{ globalnavi }}</div>
{% endif %}

		<div class="theme-header__menu">
			<div class="theme-header__menu-open-btn"><button><span>メニュー</span></button></div>
			<div class="theme-header__menu-body">
				<div class="theme-header__menu-body-inner">
					<div class="theme-header__menu-close-btn"><button>閉じる</button></div>
{% if _ENV.mode == 'finalize' %}
					<div class="theme-header__menu-mega-menu">
<?= $theme->mk_megafooter_menu() ?>
					</div>
					<div class="theme-header__menu-shoulder-menu">
<?php
	$shoulder_menu = $px->site()->get_shoulder_menu();
	echo( '<ul>' );
	echo( '<li>'.$px->mk_link( '', array('current'=>false) ).'</li>' );
	foreach( $shoulder_menu as $page_id ){
		echo( '<li>'.$px->mk_link( $page_id ).'</li>' );
	}
	echo( '</ul>' );
?>
{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
