<div class="pickles2-theme-editor__thumb-{{ templateId }}">
	<div class="pickles2-theme-editor__thumb-{{ templateId }}__header" style="background-color:{{ mainColor }}; border-top:1px solid {{ subColor }};">
		{% if logoImage %}
		<p><img src="data:{{ logoImageMimeType }};base64,{{ logoImage }}" /></p>
		{% endif %}
		<p class="pickles2-theme-editor__thumb-{{ templateId }}__title">SiteTitle</p>
		<div class="pickles2-theme-editor__thumb-{{ templateId }}__gmenu">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="pickles2-theme-editor__thumb-{{ templateId }}__middle">
		<div class="pickles2-theme-editor__thumb-{{ templateId }}__middle-main">
			<p class="pickles2-theme-editor__thumb-{{ templateId }}__h1">□□□□■□□□□■</p>
			<div class="pickles2-theme-editor__thumb-{{ templateId }}__contents">
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■</p>
				<div class="pickles2-theme-editor__thumb-{{ templateId }}__autoindex"></div>
				<p class="pickles2-theme-editor__thumb-{{ templateId }}__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
				<p class="pickles2-theme-editor__thumb-{{ templateId }}__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
			</div>
		</div>
		<div class="pickles2-theme-editor__thumb-{{ templateId }}__middle-sidebar">
			<div class="pickles2-theme-editor__thumb-{{ templateId }}__sidebarmenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
