<div class="pickles2-theme-editor__thumb-template_001">
	<div class="pickles2-theme-editor__thumb-template_001__header" style="background-color:{{ mainColor }}; border-top:1px solid {{ subColor }};">
		{% if logoImage %}
		<p><img src="data:{{ logoImageMimeType }};base64,{{ logoImage }}" /></p>
		{% endif %}
		<p class="pickles2-theme-editor__thumb-template_001__title">SiteTitle</p>
		<div class="pickles2-theme-editor__thumb-template_001__gmenu">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="pickles2-theme-editor__thumb-template_001__middle">
		<div class="pickles2-theme-editor__thumb-template_001__middle-main">
			<p class="pickles2-theme-editor__thumb-template_001__h1">□□□□■□□□□■</p>
			<div class="pickles2-theme-editor__thumb-template_001__contents">
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■</p>
				<div class="pickles2-theme-editor__thumb-template_001__autoindex"></div>
				<p class="pickles2-theme-editor__thumb-template_001__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
				<p class="pickles2-theme-editor__thumb-template_001__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
			</div>
		</div>
		<div class="pickles2-theme-editor__thumb-template_001__middle-sidebar">
			<div class="pickles2-theme-editor__thumb-template_001__sidebarmenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
<div class="pickles2-theme-editor__startup__badge-broccoli"></div>
