<div class="{{ _rootClassName }}">
	<div class="{{ _rootClassName }}__header" style="background-color:{{ mainColor }}; border-top:1px solid {{ subColor }};">
		{% if logoImage %}
		<p><img src="data:{{ logoImageMimeType }};base64,{{ logoImage }}" /></p>
		{% endif %}
		<p class="{{ _rootClassName }}__title">SiteTitle</p>
		<div class="{{ _rootClassName }}__gmenu">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="{{ _rootClassName }}__middle">
		<div class="{{ _rootClassName }}__middle-main">
			<p class="{{ _rootClassName }}__h1">□□□□■□□□□■</p>
			<div class="{{ _rootClassName }}__contents">
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■</p>
				<div class="{{ _rootClassName }}__autoindex"></div>
				<p class="{{ _rootClassName }}__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
				<p class="{{ _rootClassName }}__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
			</div>
		</div>
		<div class="{{ _rootClassName }}__middle-sidebar">
			<div class="{{ _rootClassName }}__sidebarmenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
