<div class="{{ _rootClassName }}">
	<div class="{{ _rootClassName }}__header">
		<div class="{{ _rootClassName }}__title">SiteTitle</div>
		<div class="{{ _rootClassName }}__gmenu">
			<div style="color:{{ mainColor }};">□□□□■</div>
			<div style="color:{{ mainColor }};">□□□□■</div>
			<div style="color:{{ mainColor }};">□□□□■</div>
			<div style="color:{{ mainColor }};">□□□□■</div>
		</div>
	</div>
	<div class="{{ _rootClassName }}__middle">
		<div class="{{ _rootClassName }}__middle-main">
			<p class="{{ _rootClassName }}__h1">□□□□■□□□□■</p>
			<div class="{{ _rootClassName }}__contents">
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■</p>
				<div class="{{ _rootClassName }}__autoindex"></div>
				<p class="{{ _rootClassName }}__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
				<p class="{{ _rootClassName }}__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
			</div>
		</div>
		<div class="{{ _rootClassName }}__middle-sidebar">
			<div class="{{ _rootClassName }}__sidebarmenu">
				<div style="color:{{ mainColor }};">□□□□■</div>
				<div style="color:{{ mainColor }};">□□□□■</div>
				<div style="color:{{ mainColor }};">□□□□■</div>
				<div style="color:{{ mainColor }};">□□□□■</div>
			</div>
		</div>
	</div>
	<div class="{{ _rootClassName }}__footer">
		<div class="{{ _rootClassName }}__footer-menu">
			<div style="color:{{ mainColor }};">□□□□■</div>
			<div style="color:{{ mainColor }};">□□□□■</div>
			<div style="color:{{ mainColor }};">□□□□■</div>
			<div style="color:{{ mainColor }};">□□□□■</div>
		</div>
		<div class="{{ _rootClassName }}__footer-copyright">
			<div>□□□□■</div>
		</div>
	</div>
</div>
