<div class="pickles2-theme-editor__thumb-template_002">
	<div class="pickles2-theme-editor__thumb-template_002__header" style="background-color:{{ mainColor }}; border-top:1px solid {{ subColor }};">
		{% if logoImage %}
		<p><img src="data:{{ logoImageMimeType }};base64,{{ logoImage }}" /></p>
		{% endif %}
		<p class="pickles2-theme-editor__thumb-template_002__title">SiteTitle</p>
		<div class="pickles2-theme-editor__thumb-template_002__gmenu">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="pickles2-theme-editor__thumb-template_002__middle">
		<div class="pickles2-theme-editor__thumb-template_002__middle-main">
			<p class="pickles2-theme-editor__thumb-template_002__h1">□□□□■□□□□■</p>
			<div class="pickles2-theme-editor__thumb-template_002__contents">
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■</p>
				<div class="pickles2-theme-editor__thumb-template_002__autoindex"></div>
				<p class="pickles2-theme-editor__thumb-template_002__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■<a href="javascript:;" style="color:{{ mainColor }};">□□□□■</a>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
				<p class="pickles2-theme-editor__thumb-template_002__h2">□□□□■□□□□■</p>
				<p>□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■□□□□■</p>
			</div>
		</div>
		<div class="pickles2-theme-editor__thumb-template_002__middle-sidebar">
			<div class="pickles2-theme-editor__thumb-template_002__sidebarmenu">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
